{{< layout }}
{{$ title }}Home{{/ title }}

{{$ header }}
{{/ header }}

{{$ content}}
<div class="row">
    <!-- CONTENT PANEL -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Home</h3></div>
            <div class="panel-body">
                <h1>TEST Site + Test Content</h1>
            </div>
        </div>
    </div>
</div>
{{/ content}}

{{$ scripts }}
{{/ scripts }}
{{/ layout }}